@media  (min-width: 768px) and (max-width: 900px) {
    h3 {
        text-align: center;
    }

    .points {
        flex-grow: 10;
    }

    .home-icon {
        visibility: hidden;
    }

    .image {
        height: 50vh;
    }

    .finish-btn {
        width: 200px;
    }
}