@media  (min-width: 900px) {
    h3 {
        text-align: center;
    }

    .points {
        flex-grow: 17;
    }

    .home-btns {
        margin-bottom: 7rem;
        left: 30%;
        width: 40%;
    }

    .home-icon {
        visibility: hidden;
    }


    .image {
        height: 50vh;
    }

    .options {
        width: 800px;
        margin: 0 auto;
    }

    .finish-btn {
        width: 200px;
    }
}