@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('../styles/_home.scss');
@import url('../styles/_leaderboard-place.scss');
@import url('../styles/_reset.scss');

* {
    margin: 0;
    padding: 0;
    font: 100% 'Nunito', sans-serif;
    text-align: center;
}

body {
    font-size: 10px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
}

.app {
    height: 100vh;
}

h3 {
    color: grey;
    text-align: left;
    margin-bottom: 1rem;
}

h4 {
    color: grey;
    font-size: 2rem;
}

button:focus {
    outline: 0;
}